<div class="container" style="margin-top: 150px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><h2><span class="fa fa-unlock-alt"></span> Đăng nhập</h2></div>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" name="formLogin">
						<div class="form-group">
							<label class="control-label col-md-3 h6">Tên tài khoản</label>
							<div class="col-md-7">
								<input type="text" name="username" required ng-pattern="/^([a-zA-Z0-9]+)$/" ng-trim="true" ng-model="username" class="form-control" placeholder="Nhập tên đăng nhập"/>
							</div>
						</div>
						<div class="form-group" ng-show="formLogin.username.$dirty">
							<p class="col-md-offset-3 text-danger h6" ng-show="formLogin.username.$error.required"><span class="fa fa-bitbucket"></span> Không được bỏ trống</p>
							<p class="col-md-offset-3 text-danger h6" ng-show="formLogin.username.$error.pattern"><span class="fa fa-bitbucket"></span> Chỉ nhập các ký tự là chữ số hoặc chữ cái, không chứa khoảng trắng và các ký tự unicode</p>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 h6">Mật khẩu</label>
							<div class="col-md-7">
								<input type="password" name="password" required ng-minlength="6" ng-maxlength="256" ng-pattern="/^([a-zA-Z0-9]+)$/" ng-trim="true" ng-model="password" class="form-control" placeholder="Nhập mật khẩu"/>
							</div>
						</div>
						<div class="form-group" ng-show="formLogin.password.$dirty">
							<p class="col-md-offset-3 text-danger h6" ng-show="formLogin.password.$error.required"><span class="fa fa-bitbucket"></span> Không được bỏ trống</p>
							<p class="col-md-offset-3 text-danger h6" ng-show="formLogin.password.$error.minlength"><span class="fa fa-bitbucket"></span> Mật khẩu có ít nhất 6 ký tự</p>
							<p class="col-md-offset-3 text-danger h6" ng-show="formLogin.password.$error.maxlength"><span class="fa fa-bitbucket"></span> Mật khẩu có tối đa 256 ký tự</p>
							<p class="col-md-offset-3 text-danger h6" ng-show="formLogin.password.$error.pattern"><span class="fa fa-bitbucket"></span> Chỉ nhập các ký tự là chữ số hoặc chữ cái, không chứa khoảng trắng và các ký tự unicode</p>
						</div>

						<div ng-show='messageServer.length > 0' class="alert alert-danger fade in" ng-click="messageServer=''">
							<button class="close" aria-label="Close" ng-click="messageServer=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{messageServer}}
						</div>

						<div class="form-group pull-right" style="margin: 10px;">
							<button class="btn btn-default" type="reset" style="margin-right:30px;"><span class="glyphicon glyphicon-remove-sign"></span> Hủy bỏ</button>
							<button class="btn btn-primary" ng-disabled="formLogin.$invalid" ng-click="login()"><span class="glyphicon glyphicon-check"></span> Đăng nhập</button>

						</div>
					</form>

				</div>

			</div>


		</div>
	</div>
</div>