<div class="row" ng-controller="productCtrl">
	<div class="col-md-4" ng-repeat="product in data">
		<div class="panel panel-primary">
			<div class="panel-heading" style="height: 70px;">
				<div class="panel-title"><span class="glyphicon glyphicon-phone"></span> {{product.name}}</div>
			</div>
			<div class="panel-body text-center">
				<a href ng-click="rederDetail(product.id)"><img class="img-thumbnail" ng-src="{{product.image}}" /></a>
				<h4 class="text-danger">{{product.price | number}} VNĐ</h4>
				<p>Hãng sản xuất: {{product.provider}}</p>
				<a class="btn btn-warning" ng-click="addCart(product.id)"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
			</div>
			<div class="panel-footer">
				<div class="row text-center">
					<div class="col-md-6"><a href="#"><i class="fa fa-dot-circle-o"></i> So sánh</a></div>
					<div class="col-md-6"><a href ng-click="rederDetail(product.id)"><i class="fa fa-eye"></i> Cấu hình</a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 text-center">
		<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="changed()" items-per-page="itemPerPage"></pagination>
    	<pre>Trang: {{currentPage}} / {{numPages}}</pre>
	</div>
</div>
