<div class="row" ng-controller="productCtrl">
	<div class="col-md-4" ng-repeat="product in data">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><span class="glyphicon glyphicon-phone"></span> {{product.name}}</div>
			</div>
			<div class="panel-body text-center">
				<a href ng-click="rederDetail(product.id)"><img class="img-thumbnail" ng-src="{{product.image}}" /></a>
				<h4 class="text-danger">{{product.price | number}} VND</h4>
				<p>Hang san xuat: {{product.provider}}</p>
				<a class="btn btn-warning" ng-click="addCart(product.id, product.price)"><i class="fa fa-shopping-cart"></i> Them vao gio</a>
			</div>
			<div class="panel-footer">
				<div class="row text-center">
					<div class="col-md-6"><a href="#"><i class="fa fa-dot-circle-o"></i> So sanh</a></div>
					<div class="col-md-6"><a href ng-click="rederDetail(product.id)"><i class="fa fa-eye"></i> Cau hinh</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 text-center">
		<ul class="pagination">
			<li><a href="#">Frist</a></li>
			<li><a href="#">Previous</a></li>
			<li><a href="#">1</a></li>
			<li class="active"><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">Next</a></li>
			<li><a href="#">Last</a></li>
		</ul>
	</div>
</div>
