<header ng-controller="searchCtrl">
	<!-- Header-top -->
	<div class="container-fluid bg-success">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<ul class="list-inline">
					<li class="h6"><a href="#"><span class="glyphicon glyphicon-phone"></span> +84 167 629 8972</a></li>
					<li></li>
					<li class="h6"><a href="#"><span class="glyphicon glyphicon-envelope"></span> 20122726@student.hut.edu.vn</a></li>
				</ul>
			</div>
			<div class="col-md-6 text-right">
				<ul class="list-inline">
					<li class="h5"><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li></li>
					<li class="h5"><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li></li>
					<li class="h5"><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li></li>
					<li class="h5"><a href="#"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- /Header-top -->

	<!-- Header-bottom -->
	<div class="container-fluid" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar-default navbar">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-target="#menu" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>						
						</button>
						
						<img src="imgs/the-gioi-mobile.gif" class="img-responsive" style="padding-left: 20px;" ui-sref="main.home" ui-sref-active/>
					</div>

					<div class="navbar-collapse collapse pull-right" id="menu">
						<ul class="navbar-nav nav h6">
							<li ui-sref-active="active"><a ui-sref="main.home"><i class="fa fa-home"></i> Trang chủ</a></li>
							<li ui-sref-active="active"><a ui-sref="product.all"><i class="glyphicon glyphicon-phone"></i> Sản phẩm</a></li>
							<li ui-sref-active="active"><a ui-sref="cart.cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
							<li ui-sref-active="active"><a ui-sref="contact.contact"><i class="fa fa-book"></i> Liên hệ</a></li>
							<li><a href ng-click="search()"><i class="fa fa-search"></i> Tìm kiếm</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Header-bottom -->

</header>

<!-- Modal -->

<script type="text/ng-template" id="searchPhone.html">
	<div class="modal-header">
		<h3 class="modal-title h4">
			<span class="fa fa-search-plus"></span> Tìm kiếm
			<button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		</h3>
	</div>	
	<div class="modal-body">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<form>
						<div class="form-group">
							<label class="control-label h5">Tìm kiếm theo tên</label>
							<input type="text" class="form-control" ng-model="searchName" placeholder="Nhập tên điện thoại cần tìm kiếm"/>
						</div>
						<div class="form-group">
							<label class="control-label h5">Tìm kiếm giá</label>
							<input type="text" class="form-control" ng-model="searchPrice" placeholder="Nhập giá điện thoại"/>
						</div>
						<div class="form-group">
							<label class="control-label h5">Tìm kiếm hãng sản xuất</label>
							<input type="text" class="form-control" ng-model="searchProvider" placeholder="Nhập giá hãng sản xuất"/>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<div class="list-group">
						<a href class="list-group-item" ng-repeat="phone in phones | filter:searchName:name | filter:searchPrice:price | filter:searchProvider:provider | orderBy: '-price'" ng-click="rederDetail(phone.id)">
							<div class="phone-listing container">
								<div class="row">
									<div class="col-md-2">
										<img ng-src="{{phone.image}}" class="img-thumbnail" />
									</div>
									<div class="col-md-3">
										<p class="h6 text-danger">{{phone.name}}</p>
										<p class="h6 text-warning">{{phone.price | number}} VNĐ</p>
										<p>Hãng sản xuất: {{phone.provider}}</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

