<div class="row">

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<strong class="text-info h1"><span class="fa fa-tags"></span> Giới thiệu</strong>
				</div>
			</div>
			<div class="panel-body">
				<div class="alert alert-danger">Trang web nay do TuyenNG tao nen trong qua trinh lam bai tap lon web</div>
				<div class="alert alert-success">Moi vi pham ban quyen deu co the bi kien truoc phap luat</div>
				<div class="text-danger text-right">Hanoi University of Science and Technology</div>
				<p class="pull-right text-muted">School of Infomation Communication and Technology</p>
			</div>
		</div>
	</div>

	<div class="col-md-8" ng-controller="contactCtrl">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><i class="icon-envelope"></i> Góp ý về trang web</div>
			</div>
			<div class="panel-body">

				<form name="formContact">
					<div class="form-group col-md-6">
						<input type="text" name="username" ng-model="username" placeholder="Tên" required class="form-control"/>
					</div>
					<div class="form-group col-md-6">
						<input type="text" name="email" ng-model="email" placeholder="Email" required class="form-control"/>
					</div>
					<div class="form-group col-md-12">
						<input type="text" name="subject" ng-minLength="5" ng-model="subject" placeholder="Chủ đề" required class="form-control"/>
					</div>
					<div class="form-group col-md-12">
						<textarea required class="form-control" name="content" ng-minLength="10" ng-model="content" placeholder="Nội dung" rows="6"></textarea>
					</div>
					<div class="button-group pull-right">
						<button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span> Xóa</button>
						<button class="btn btn-primary" type="submit" ng-disabled="formContact.$invalid" ng-click="submit()"><span class="fa fa-check"></span> Gửi</button>
					</div>
				</form>					

			</div>
		</div>

		<div class="alert alert-success" ng-hide="check" ng-click="closeAlert()">
			<button class="close" ng-click="closeAlert()">
			  	<span aria-hidden="true">&times;</span>
			</button>
			<p>Nội dung của bạn đã được gửi đi.</p>
		</div>

		<div class="alert alert-danger" ng-hide="checkError" ng-click="closeAlert()">
			<button class="close" ng-click="closeAlert()">
			  	<span aria-hidden="true">&times;</span>
			</button>
			<p>Đã có lỗi xảy ra, xin lỗi bạn vì sự kiện này.</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<i class="fa fa-info-circle"></i> Thông tin liên hệ
			</div>
			<div class="panel-body">
				<p>Phone-shop Inc.</p>
				<p>Số 1 Đại Cổ Việt, Quận Hai Bà Trưng</p>
				<p>Hà Nội, Việt Nam</p>
				<p>Mobile: +84 167 629 8972</p>
				<p>Email: hangct11@gmail.com</p>
			</div>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="icon-social-dribbble"></span> Mạng xã hội
			</div>
			<div class="panel-body">
				<ul class="list-inline text-center h3">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>