<div class="row">

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<strong class="text-info h1"><span class="fa fa-tags"></span> Giới thiệu</strong>
				</div>
			</div>
			<div class="panel-body">
				<p style="font-size: 16px;"><strong class="text-danger h4">T – mobile</strong> mong muốn trở thành một hệ thống bán lẻ điện thoại di động hàng đầu Việt Nam, đáp ứng mọi nhu cầu của khách hàng bằng sự chuyên nghiệp và tất cả nhiệt huyết của mình.</p>
				<p style="font-size: 16px;">Dẫn đầu về công nghệ. Chúng tôi luôn đam mê khám phá những công nghệ mới nhất. Từ khi bắt đầu, sản phẩm của chúng tôi đã áp dụng những công nghệ tiên tiến nhất. Dẫn chứng là chiếc điện thoại <strong>OPPO</strong> Finder mỏng 6.65mm được phát hành vào giữa năm 2012, sau đó đã trở thành chiếc smartphone mỏng nhất thế giới. Vào cuối năm 2012, chúng tôi đã công bố <strong>OPPO</strong> Find 5, một trong những chiếc smartphone được mong đợi nhất thế giới, với màn hình 5 inch hiển thị Full HD 1080p, và camera 13 megapixel sử dụng cảm biến Stacked CMOS. Đây là chiếc smartphone đầu tiên trên thế giới có phần cứng hỗ trợ công nghệ HDR.</p>

				<p style="font-size: 16px;">Tiêu chuẩn chất lượng cao nhất <strong>OPPO</strong> chỉ sử dụng những thành phần chất lượng cao có sẵn trên thị trường. Chúng tôi đã liên kết với các đối tác hàng đầu quốc tế để đảm bảo có thể cung cấp cho người dùng những công nghệ mới và tốt nhất hiện có. Với năng lực R&D (reseach and develop: nghiên cứu và phát triển) độc lập, chúng tôi đã tự thiết kế, phát triển, sản xuất, quảng cáo và bán những sản phẩm của chính chúng tôi.</p>
			</div>
		</div>
	</div>

	<div class="col-md-8" ng-controller="contactCtrl">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><i class="icon-envelope"></i> Góp ý về trang web</div>
			</div>
			<div class="panel-body">

				<form name="formContact">
					<div class="form-group col-md-6">
						<input type="text" name="username" ng-model="username" placeholder="Tên" required class="form-control"/>
					</div>
					<div class="form-group col-md-6">
						<input type="text" name="email" ng-model="email" placeholder="Email" required class="form-control"/>
					</div>
					<div class="form-group col-md-12">
						<input type="text" name="subject" ng-minLength="5" ng-model="subject" placeholder="Chủ đề" required class="form-control"/>
					</div>
					<div class="form-group col-md-12">
						<textarea required class="form-control" name="content" ng-minLength="10" ng-model="content" placeholder="Nội dung" rows="6"></textarea>
					</div>
					<div class="button-group pull-right">
						<button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span> Xóa</button>
						<button class="btn btn-primary" type="submit" ng-disabled="formContact.$invalid" ng-click="submit()"><span class="fa fa-check"></span> Gửi</button>
					</div>
				</form>					

			</div>
		</div>

		<div class="alert alert-success" ng-hide="check" ng-click="closeAlert()">
			<button class="close" ng-click="closeAlert()">
			  	<span aria-hidden="true">&times;</span>
			</button>
			<p>Nội dung của bạn đã được gửi đi.</p>
		</div>

		<div class="alert alert-danger" ng-hide="checkError" ng-click="closeAlert()">
			<button class="close" ng-click="closeAlert()">
			  	<span aria-hidden="true">&times;</span>
			</button>
			<p>Đã có lỗi xảy ra, xin lỗi bạn vì sự kiện này.</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<i class="fa fa-info-circle"></i> Thông tin liên hệ
			</div>
			<div class="panel-body">
				<p>T-mobie Inc.</p>
				<p>Nguyễn Trãi</p>
				<p>Hà Nội, Việt Nam</p>
				<p>Mobile: +84 976 508 106</p>
				<p>Email: hangct11@gmail.com</p>
			</div>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="icon-social-dribbble"></span> Mạng xã hội
			</div>
			<div class="panel-body">
				<ul class="list-inline text-center h3">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>